version: '3.8'

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: cajas
      POSTGRES_PASSWORD: caja_pass
      POSTGRES_DB: cajas_db
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build: .
    command: gunicorn -b 0.0.0.0:5000 app:app --workers 2
    ports:
      - "5000:5000"
    environment:
      SECRET_KEY: change_me
      DATABASE_URL: postgresql://cajas:caja_pass@db:5432/cajas_db
      FLASK_ENV: development
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  db_data:
